In [1]:
import pandas as pd

In [2]:
df= pd.read_excel("C:/Users/USUARIO/TRABAJO DE FIN DE GRADO/CENTROS/3. FILTRADO/filtrado_andalucia.xlsx")

In [3]:
df

,Nombre,Fecha,Direccion,Localidad
0,HELPING ANIMALS ALMANZORA,20/02/2012,C/ HUELVA Nº 5,Arboleas (ALMERIA)
1,PROTECTORA DE ANIMALES ROCIANA ACOGE,30/10/2017,CL VENDIMIADORES 33,Rociana del Condado (HUELVA)
2,ABRAZO ANIMAL JAMILENA,30/06/2021,"C/ MORERIA, 27",Martos (JAEN)
3,ACABEMOS CON EL ABANDONO DE ANIMALES,16/06/2003,"CARRIL DE LA CAPELLANÍA, S/N - CASA LA CAÑADA",Almogía (MALAGA)
4,ACTION FOR ANIMALS,31/03/2009,AVENIDA DE LA CONSTITUCION Nº 3,Cómpeta (MALAGA)
...,...,...,...,...
743,CALLEJEROS DE FERNAN NUÑEZ,24/09/2009,"PINTOR VELAZQUEZ ,48",Fernán-Núñez (CORDOBA)
744,CALLEJEROS MORÓN,01/06/2018,C/ Ronda Trinidad Local A-1,Morón de la Frontera (SEVILLA)
745,SOS CALLEJEROS,07/06/2010,C/ CARLOS HAYA Nº 9,Cádiz (CADIZ)
746,ALMAS OLVIDADAS,29/09/2022,"C/ POETA JUAN GUTIERREZ PADIAL, Nº 5, 1º C",Lanjarón (GRANADA)
747,CORAZONES OLVIDADOS GRANADA,03/03/2017,"C/ ADELFA, Nº 2",Huétor Vega (GRANADA)

ADICIÓN DE COLUMNA CCAA

In [4]:
df['ccaa']= "Andalucía"

SELECCIÓN DE COLUMNAS

In [5]:
df.columns

Index(['Nombre', 'Fecha', 'Direccion', 'Localidad', 'ccaa'], dtype='object')

COORDENADAS

In [6]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="tfg_adoptionmovement") # crea una instancia del objeto Nominatim

In [7]:
def get_lat_long(address):
    location = geolocator.geocode(address) # geocodifica la dirección y devuelve un objeto de ubicación
    if location:
        return (location.latitude, location.longitude)
    else:
        return (None, None)

In [8]:
# recorre cada fila del DataFrame
for i, row in df.iterrows():
    # añade el contenido de las columnas de ubicación a continuación del contenido de "direccion"
    df.at[i, 'Direccion'] = str(df.at[i, 'Direccion'])+', ' + str(row['Localidad'])+', ' + str(row['ccaa'])+', España'

In [11]:
df['latitud'], df['longitud'] = zip(*df['Direccion'].apply(get_lat_long))

In [12]:
sum(df['longitud'].isnull())

470

In [13]:
df.columns

Index(['Nombre', 'Fecha', 'Direccion', 'Localidad', 'ccaa', 'latitud',
       'longitud'],
      dtype='object')

In [14]:
# Me quedo solo con la de dirección y la de ccaa
df = df.loc[:, ['Nombre', 'Fecha', 'Direccion', 'ccaa','latitud','longitud']]

In [15]:
# Filtro solo las columnas que puedo visualizar (las que tienen latitud y longitud)
df = df.dropna(subset=['latitud'])

In [16]:
df.to_excel('coordenadas_andalucia.xlsx', index=False)