In [1]:
import pandas as pd

In [2]:
df= pd.read_excel("C:/Users/USUARIO/TRABAJO DE FIN DE GRADO/CENTROS/3. FILTRADO/filtrado_murcia.xlsx")

In [3]:
df

,Municipio,Nombre,Direccion
0,ABANILLA,A.P.A.M.A. NATURE (ASOCIACION PARA LA PROTECCI...,C/ Encomienda s/n planta baja. Edif. de la Enc...
1,ABARAN,"ASOCIACION ""POR UN AMIGO FIEL"" DE ABARAN","Plaza de la Zarzuela nº4, Bloq. 1º, 8ºAD"
2,AGUILAS,SANTOLINA ANIMAL SANTUARIO,"CASA 26, CAMPING LA QUINTA BELLA, C/ LOS AREJO..."
3,AGUILAS,ASOCIACION PROYECTO CES AGUILAS,"C/ Alegría nº6, 2ºC"
4,AGUILAS,ASOCIACION PROTECTORES NUEVA ERA AGUILAS,"C/ Rey Carlos III nº9, 4ºA"
...,...,...,...
186,UNION,"ASOCIACION PROTECTORA DE ANIMALES ""LA CASITA D...","C/ Actor José Baeza nº1, puerta 16, buzón 139"
187,UNION,ASOCIACION UNION ANIMALISTA,"C/ Paco Valencia nº1, bajo izq."
188,VILLANUEVA DEL RIO SEGURA,UNIDAD CANINA DE RESCATE Y SALVAMENTO VILLANUE...,c/ Almazara núm. 3
189,YECLA,ASOCIACION SPANDY: SOCIEDAD PROTECTORA DE ANIM...,"C/ San José nº 8, 1º izquierda"
190,YECLA,"SOY SU VOZ, ""ASOCIACION POR LOS DERECHOS, LA P...",C/ Casas Altas nº37

ADICIÓN DE COLUMNA CCAA

In [4]:
df['ccaa']= "Murcia"

SELECCIÓN DE COLUMNAS

In [5]:
df.columns

Index(['Municipio', 'Nombre', 'Direccion', 'ccaa'], dtype='object')

COORDENADAS

In [6]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="tfg_adoptionmovement")

In [7]:
def get_lat_long(address):
    location = geolocator.geocode(address) # geocodifica la dirección y devuelve un objeto de ubicación
    if location:
        return (location.latitude, location.longitude)
    else:
        return (None, None)

In [8]:
for i, row in df.iterrows():
    # añade el contenido de las columnas de ubicación a continuación del contenido de "direccion"
    df.at[i, 'Direccion'] = str(df.at[i, 'Direccion'])+', ' + str(row['Municipio'])+', ' + str(row['ccaa'])+', España'

In [10]:
df['latitud'], df['longitud'] = zip(*df['Direccion'].apply(get_lat_long))

In [11]:
sum(df['longitud'].isnull())

121

In [12]:
df = df.loc[:, ['Nombre', 'Direccion', 'ccaa', 'latitud', 'longitud']]

In [13]:
df = df.dropna(subset=['latitud'])

In [14]:
df.to_excel('coordenadas_murcia.xlsx', index=False)