In [2]:
import pandas as pd

In [3]:
df= pd.read_excel("C:/Users/USUARIO/TRABAJO DE FIN DE GRADO/CENTROS/3. FILTRADO/filtrado_navarra.xlsx")

In [4]:
df

,DENOMINACIÓN,DIRECCIÓN,LOCALIDAD,FECHA INSCRIPCIÓN,TIPO REGISTRO,CLASE
0,RESPETO ANIMAL NAVARRA (R.A.N.),"Calle Paternain, 34 bajo izda.",ZIZUR MAYOR/ZIZUR NAGUSIA,2013-09-26,Asociación,"Medioambientales, Caza y Pesca"
1,KATX FELINOS NAVARRA,Calle Altza / Alisos n.º 7,PUENTE LA REINA/GARES,2014-03-11,Asociación,"Medioambientales, Caza y Pesca"
2,YESA MAS NO LANAK GELDITU,Calle Estudio 1,SANGÜESA/ZANGOZA,2014-03-14,Asociación,"Medioambientales, Caza y Pesca"
3,URBASA TAKATAN,Calle Balteikale 10 - 2º derecha,ERGOIENA,2014-07-31,Asociación,"Medioambientales, Caza y Pesca"
4,SOS ALKERDI,"Calle RAFAEL ALBERTI, 16 BAJO D",ORKOIEN,2015-01-19,Asociación,"Medioambientales, Caza y Pesca"
...,...,...,...,...,...,...
110,MASVIDA A LA VIDA,"Calle Díaz Bravo, Nº 16, 1º D",TUDELA,2022-11-14,Asociación,"Medioambientales, Caza y Pesca"
111,AÑAIZE,Calle Paseo Julián Gayarre n° 1,RONCAL/ERRONKARI,2022-12-09,Asociación,"Medioambientales, Caza y Pesca"
112,OBANOS BIZI,"Plaza de los Fueros, Nº 1",OBANOS,2023-01-09,Asociación,"Medioambientales, Caza y Pesca"
113,ACACONBAR,"Calle Auroros, 65",TUDELA,2023-02-13,Asociación,"Medioambientales, Caza y Pesca"
114,ITURRIZAR DE ZIRAUKI,"Plaza Ayuntamiento, 1",CIRAUQUI/ZIRAUKI,2023-03-08,Asociación,"Medioambientales, Caza y Pesca"

ADICIÓN DE COLUMNA CCAA

In [14]:
df['ccaa']= "Navarra"

SELECCIÓN DE COLUMNAS

In [6]:
df.columns

Index(['DENOMINACIÓN', 'DIRECCIÓN', 'LOCALIDAD', 'FECHA INSCRIPCIÓN',
       'TIPO REGISTRO', 'CLASE', 'ccaa'],
      dtype='object')

In [7]:
df = df.loc[:, ['DENOMINACIÓN', 'DIRECCIÓN', 'LOCALIDAD']]

In [8]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="tfg_adoptionmovement")

In [9]:
def get_lat_long(address):
    location = geolocator.geocode(address) # geocodifica la dirección y devuelve un objeto de ubicación
    if location:
        return (location.latitude, location.longitude)
    else:
        return (None, None)

In [10]:
# recorre cada fila del DataFrame
for i, row in df.iterrows():
    # añade el contenido de las columnas de ubicación a continuación del contenido de "direccion"
    df.at[i, 'DIRECCIÓN'] = str(df.at[i, 'DIRECCIÓN'])+', ' + str(row['LOCALIDAD'])+', España'

In [11]:
df['latitud'], df['longitud'] = zip(*df['DIRECCIÓN'].apply(get_lat_long))

In [12]:
sum(df['longitud'].isnull())

78

In [15]:
df = df.loc[:, ['DENOMINACIÓN', 'DIRECCIÓN', 'ccaa', 'latitud', 'longitud']]

In [16]:
df = df.dropna(subset=['latitud'])

In [17]:
df.to_excel('coordenadas_navarra.xlsx', index=False)