# CENTROS DE LA COMUNIDAD DE MADRID

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("./DATOS INICIALES/asociaciones_madrid.xlsx")

Este es el DataFrame del que parto, sacado del registro de asociaciones de la comunidad de madrid (https://www.comunidad.madrid/servicios/asociaciones-fundaciones-colegios-profesionales/registro-asociaciones-comunidad-madrid).

Las asociaciones se dividían en categorías, me he quedado únicamente con los datos correspondientes a las categorías:
* DEFENSA DEL MEDIO AMBIENTE, ECOLOGISTAS, CONSERVACIONISTAS
* PROTECCIÓN DE ANIMALES Y PLANTAS

In [3]:
df

,Nº TERR.,ASOCIACIÓN,SIGLAS,U.P.,ÁMBITO,SECCIÓN,ESTADO,F.CONST.,DIRECCIÓN
0,27,ASOCIACION JUVENIL DE MONTAÑA SERRAS,NaN,NO,Alcobendas,JUVENILES,Inscrita,1994-02-02,"CALLE SORIA, Nº43, - 28100 Alcobendas (Madrid)"
1,546,FEDERACION DE ASOCIACIONES DE PINTO (FEDASPINT...,NaN,NO,C.M.,FEDERACIÓN,Inscrita,2007-06-09,"SALONES ROLDAN, CALLE LAS MONJAS, Nº17, - 283..."
2,557,FEDERACION ECOLOGISTAS EN ACCION DE LA COMUNID...,NaN,NO,C.M.,FEDERACIÓN,Inscrita,2010-01-13,"CALLE MARQUES DE LEGANES, Nº12, BAJ - 28004 M..."
3,778,ASOCIACION JUVENIL DE TIEMPO LIBRE B.A.J.O.P.A...,NaN,NO,C.M.,JUVENILES,Inscrita,2002-12-03,"CALLE GONZALO IZQUIERDO, Nº18, Esc. LOCAL IZ ..."
4,846,"ASOCIACION JUVENIL ""CLIMBLAND""",NaN,NO,C.M.,JUVENILES,Inscrita,2003-07-03,"CALLE CARMEN COBEÑA, Nº5, 6º B. - 28005 Madri..."
...,...,...,...,...,...,...,...,...,...
769,40047,ASOCIACION MINDFU MINDFULNESS FUENLABRADA SALU...,NaN,NO,Fuenlabrada,ASOCIACIÓN,Inscrita,2022-11-02,"CALLE VALVERDE DE LOS ARROYOS, Nº17, 5º E. - ..."
770,40058,PETS AID AYUDA PARA MASCOTAS,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2022-02-17,"CALLE DUBLIN, Nº31 C, - 28232 Rozas de Madrid..."
771,40069,REQUETEMIAU MADRID,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2022-02-22,"CALLE BETANZOS, Nº14, 4º IZDA. - 28925 Alcor..."
772,40075,CLUB DE CAVIARIOS ESPAÑOLES,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2022-01-03,"CALLE FRANCISCO DE GOYA, Nº7, - 28200 San Lor..."
773,40081,AMIGOS DE LOS PELUDOS,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2022-01-03,"CALLE SIERRA DE LA BOBIA, Nº65, 3º A. - 28031..."

Lo que voy a ir haciendo es aplicar máscaras al dataframe de manera que finalmente me quede con un nuevo conjunto de datos solamente con los registros que me interesan: CENTROS DE PROTECCIÓN ANIMAL

FUNCIONES:

In [4]:
def extraer_por_palabra(df, palabra):
    df_palabra = df[df['ASOCIACIÓN'].str.lower().str.contains(palabra.lower())]
    return df_palabra

In [5]:
def restar_df(df_minuendo, df_sustraendo):
        df_diferencia = df_minuendo[~df_minuendo.isin(df_sustraendo)].dropna()
        return df_diferencia

In [6]:
def eliminar_filas_listanegra(df, listanegra):
    # Crea una Serie booleana que indica si cada fila contiene alguna palabra de la lista negra
    mascara = df['ASOCIACIÓN'].str.contains('|'.join(listanegra), case=False)
    # Elimina las filas que cumplen la condición anterior
    df = df[~mascara]
    return df

In [7]:
seccion = df['SECCIÓN'].unique()
print(seccion)

['JUVENILES' 'FEDERACIÓN' 'ASOCIACIÓN']

In [8]:
seccion_no= ['JUVENILES','FEDERACIÓN']

In [9]:
df = df[~df['SECCIÓN'].isin(seccion_no)]

In [10]:
df

,Nº TERR.,ASOCIACIÓN,SIGLAS,U.P.,ÁMBITO,SECCIÓN,ESTADO,F.CONST.,DIRECCIÓN
10,1260,ASOCIACION JUVENIL LA DEHESILLA,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2011-05-13,"CALLE JUAN ANTONIO GARCIA ANDRES, Nº10, - 287..."
11,3277,ASOCIACION DE MADRES Y PADRES DE ALUMNOS DEL C...,NaN,NO,Alcobendas,ASOCIACIÓN,Inscrita,1978-10-30,COLEGIO DE EDUCACION INFANTIL Y PRIMARIA DAOI...
14,4204,ASOCIACION AMIGOS DEL RETIRO,NaN,NO,Madrid,ASOCIACIÓN,Inscrita,1981-01-15,"LA CABAÑA, PASEO ROMERO TORRES, NºS/N, - 2800..."
15,4351,ASOCIACION DE VIGILANTES HONORARIOS JURADOS,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,1981-04-24,"PASEO DEL NORTE, Nº41, - 28290 Rozas de Madri..."
16,5852,ECOLOGISTAS EN ACCION DE ARANJUEZ,NaN,NO,COMARCAL,ASOCIACIÓN,Inscrita,1984-06-03,"STUART, Nº161, 1ºD - 28300 Aranjuez (Madrid)"
...,...,...,...,...,...,...,...,...,...
769,40047,ASOCIACION MINDFU MINDFULNESS FUENLABRADA SALU...,NaN,NO,Fuenlabrada,ASOCIACIÓN,Inscrita,2022-11-02,"CALLE VALVERDE DE LOS ARROYOS, Nº17, 5º E. - ..."
770,40058,PETS AID AYUDA PARA MASCOTAS,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2022-02-17,"CALLE DUBLIN, Nº31 C, - 28232 Rozas de Madrid..."
771,40069,REQUETEMIAU MADRID,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2022-02-22,"CALLE BETANZOS, Nº14, 4º IZDA. - 28925 Alcor..."
772,40075,CLUB DE CAVIARIOS ESPAÑOLES,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2022-01-03,"CALLE FRANCISCO DE GOYA, Nº7, - 28200 San Lor..."
773,40081,AMIGOS DE LOS PELUDOS,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2022-01-03,"CALLE SIERRA DE LA BOBIA, Nº65, 3º A. - 28031..."

In [11]:
df_ok= extraer_por_palabra(df,'animal')
df_ok

,Nº TERR.,ASOCIACIÓN,SIGLAS,U.P.,ÁMBITO,SECCIÓN,ESTADO,F.CONST.,DIRECCIÓN
18,7141,ASOCIACION PROTECTORA DE ANIMALES PLANTAS Y ME...,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,1986-02-17,"VEREDA DE ESPARTEROS A POLVORANCA, NºS/N, - 2..."
103,27904,ASOCIACION DE ANIMALES PLANTAS Y MEDIO AMBIENT...,NaN,NO,Getafe,ASOCIACIÓN,Inscrita,2006-05-17,"AVDA JUAN DE BORBON, Nº13, Esc. 5 4º 2. Getafe..."
187,34047,ASOCIACION CONTRA EL ABANDONO ANIMAL AYUCAN,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2013-09-04,"CALLE REAL, Nº52, 2, 3º B. - 28500 Arganda de..."
249,37366,ASOCIACION COLECTIVO ANIMALISTA DE LEGANES ACAL,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2017-05-17,"AVDA DEL MEDITERRANEO, Nº14 POSTE, - 28918 Le..."
291,649,SOCIEDAD PROTECTORA DE ANIMALES Y PLANTAS DE M...,NaN,NO,Madrid,ASOCIACIÓN,Inscrita,1966-11-22,"CALLE OCHAGAVIA, Nº34-36, - 28039 Madrid (Mad..."
...,...,...,...,...,...,...,...,...,...
740,39414,GUARDIAN ANIMAL MADRID,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2020-01-14,"CALLE JOSÉ SOLANA, Nº59, - 28660 Boadilla del..."
749,39741,HADAS HOGAR DE LA ASOCIACION PARA LA DEFENSA A...,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2021-02-18,"CALLE SAN PABLO, Nº2, - 28294 Robledo de Chav..."
754,39793,ASOCIACION PROTECTORA DE ANIMALES DE VALDEPIEL...,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2021-03-17,"CENTRO SOCIOCULTURAL DE VALDEPIÉLAGOS, CALLE M..."
755,39814,VAMAR & ANIMALS,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2021-04-14,"LA POVEDA, CALLE PUERTO DE LA MORCUERA, Nº18, ..."
769,40047,ASOCIACION MINDFU MINDFULNESS FUENLABRADA SALU...,NaN,NO,Fuenlabrada,ASOCIACIÓN,Inscrita,2022-11-02,"CALLE VALVERDE DE LOS ARROYOS, Nº17, 5º E. - ..."

In [12]:
df= restar_df(df, df_ok)

In [13]:
felin= extraer_por_palabra(df,'felin')
felin

,Nº TERR.,ASOCIACIÓN,SIGLAS,U.P.,ÁMBITO,SECCIÓN,ESTADO,F.CONST.,DIRECCIÓN
454,32517.0,ASOCIACION FELINA DE LA COMUNIDAD DE MADRID AFM,AFM,NO,C.M.,ASOCIACIÓN,Inscrita,2011-09-14,"AVDA DE CARBON BLANC, Nº52, - 28680 San Martí..."

In [14]:
df_ok = pd.concat([df_ok , felin], axis=0)
df= restar_df(df, felin)

In [15]:
perr= extraer_por_palabra(df,'perr')
perr

,Nº TERR.,ASOCIACIÓN,SIGLAS,U.P.,ÁMBITO,SECCIÓN,ESTADO,F.CONST.,DIRECCIÓN
392,29385.0,ASOCIACION DE PERROS DE ASISTENCIA AEPA MADRID...,AEPA,NO,C.M.,ASOCIACIÓN,Inscrita,2008-01-04,"CALLE TRAVESIA DE LA CERCA , Nº2, Esc. PORTAL ..."

In [16]:
df= restar_df(df, perr)

In [18]:
masc= extraer_por_palabra(df,'masc')
masc

,Nº TERR.,ASOCIACIÓN,SIGLAS,U.P.,ÁMBITO,SECCIÓN,ESTADO,F.CONST.,DIRECCIÓN
481,33427.0,ASOCIACION DE AMIGOS DE LAS MASCOTAS SULTAN Y ...,S & K,NO,C.M.,ASOCIACIÓN,Inscrita,2012-10-22,"CALLE CISNE, Nº7, Getafe (Madrid)"

In [19]:
df_ok = pd.concat([df_ok , masc], axis=0)
df= restar_df(df, masc)

In [20]:
print(len(list(df['ASOCIACIÓN'].unique())))
list(df['ASOCIACIÓN'].unique())

16

['DEFNA GE-IBERICA',
 'ASOCIACION PARA EL DESARROLLO Y LA INTEGRACION CON EL MEDIO AMBIENTE (ADIMA)',
 'ASOCIACION COOPERACION E INTERCAMBIO, MADRID Y EL MUNDO (ACIMEM) ',
 'ASOCIACION PESCA ECOLOGICA SOSTENIBLE Y CALIDAD AMBIENTAL SIERRA NORTE (P.E.S.C.A. - SIERRA NORTE)  ',
 'ASOCIACION DE GRANJAS-ESCUELAS DE LA COMUNIDAD DE MADRID (AGECAM)',
 'ASOCIACION DE AFECTADOS POR EL CACIQUISMO EN LA SIERRA DE MADRID ACASIMA',
 'ASOCIACION COMUNIDAD PELLET ACP ',
 'AAMA ASOCIACION AMIGOS DEL MUNDO AVICOLA',
 'ASOCIACION MADRILEÑA DE ADIESTRADORES PROFESIONALES (A.M.A.P.)',
 'ASOCIACION HERPETOLOGICA DE ALCORCON (A.H.A.)',
 'ASOCIACION CANINA DE LA COMUNIDAD DE MADRID',
 'CLUB COLOR DE LA ASOCIACION DE CANARICULTORES ESPAÑOLES A.C.E.',
 'ASOCIACION GRUPO LOANKA AGL',
 'CLUB ORNITOLOGICO DEPORTIVO AMIGOS DEL TIMBRADO CODAT',
 'GRUPO ORNITOLOGICO LA AMISTAD GOA',
 'ASOCIACION ESPAÑOLA DE EDUCACION CANINA INFANTIL AEECI']

In [21]:
df_ok

,Nº TERR.,ASOCIACIÓN,SIGLAS,U.P.,ÁMBITO,SECCIÓN,ESTADO,F.CONST.,DIRECCIÓN
18,7141.0,ASOCIACION PROTECTORA DE ANIMALES PLANTAS Y ME...,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,1986-02-17,"VEREDA DE ESPARTEROS A POLVORANCA, NºS/N, - 2..."
103,27904.0,ASOCIACION DE ANIMALES PLANTAS Y MEDIO AMBIENT...,NaN,NO,Getafe,ASOCIACIÓN,Inscrita,2006-05-17,"AVDA JUAN DE BORBON, Nº13, Esc. 5 4º 2. Getafe..."
187,34047.0,ASOCIACION CONTRA EL ABANDONO ANIMAL AYUCAN,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2013-09-04,"CALLE REAL, Nº52, 2, 3º B. - 28500 Arganda de..."
249,37366.0,ASOCIACION COLECTIVO ANIMALISTA DE LEGANES ACAL,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2017-05-17,"AVDA DEL MEDITERRANEO, Nº14 POSTE, - 28918 Le..."
291,649.0,SOCIEDAD PROTECTORA DE ANIMALES Y PLANTAS DE M...,NaN,NO,Madrid,ASOCIACIÓN,Inscrita,1966-11-22,"CALLE OCHAGAVIA, Nº34-36, - 28039 Madrid (Mad..."
...,...,...,...,...,...,...,...,...,...
754,39793.0,ASOCIACION PROTECTORA DE ANIMALES DE VALDEPIEL...,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2021-03-17,"CENTRO SOCIOCULTURAL DE VALDEPIÉLAGOS, CALLE M..."
755,39814.0,VAMAR & ANIMALS,NaN,NO,C.M.,ASOCIACIÓN,Inscrita,2021-04-14,"LA POVEDA, CALLE PUERTO DE LA MORCUERA, Nº18, ..."
769,40047.0,ASOCIACION MINDFU MINDFULNESS FUENLABRADA SALU...,NaN,NO,Fuenlabrada,ASOCIACIÓN,Inscrita,2022-11-02,"CALLE VALVERDE DE LOS ARROYOS, Nº17, 5º E. - ..."
454,32517.0,ASOCIACION FELINA DE LA COMUNIDAD DE MADRID AFM,AFM,NO,C.M.,ASOCIACIÓN,Inscrita,2011-09-14,"AVDA DE CARBON BLANC, Nº52, - 28680 San Martí..."
481,33427.0,ASOCIACION DE AMIGOS DE LAS MASCOTAS SULTAN Y ...,S & K,NO,C.M.,ASOCIACIÓN,Inscrita,2012-10-22,"CALLE CISNE, Nº7, Getafe (Madrid)"

In [22]:
df_ok.to_excel('asociaciones_madrid_filtrado.xlsx', index=False)